.login-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #00becb;
    background-image: url(https://img.freepik.com/free-vector/flat-design-polygonal-background_23-2148907552.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form-header {
    text-align: center;
    color: #00becb;
    font-size: 2;
    margin-top: 10px;
}
